fastapi==0.115.0
uvicorn==0.30.0
python-dotenv==1.0.0
python-multipart==0.0.9
sqlalchemy==2.0.35
psycopg2-binary==2.9.9
alembic==1.13.2
langchain==0.3.0
langchain-core==0.3.0
langchain-community==0.3.0
langchain-groq==0.2.0
langchain-classic==1.0.4
groq==0.11.0
llama-index==0.11.0
llama-index-core==0.11.0
llama-index-embeddings-huggingface==0.3.0
llama-index-vector-stores-chroma==0.3.0
chromadb==0.5.0
sentence-transformers==3.0.0
torch==2.2.2
transformers==4.41.2
huggingface_hub==0.24.0
