fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
python-dotenv
python-multipart
langchain
langchain-groq
langchain-community
langchain-classic
llama-index
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index-llms-groq
chromadb
sentence-transformers
